extends layout

block content
  h1='Register Form'
  div.container
    form(action='/register', method='POST' class='user_form', autocompĺete='off')
      label(for='name')='Name'
      input(type='text', class='input-form', name='name', id='name')
      label(for='email')='Email'
      input(type='email', class='input-form', name='email' id='email')
      label(for='password')='Password'
      input(type='password', class='input-form', name='password' id='password')
      button(type='submit')='Register'
